/* Header Styles */
header {
    background: #B76E79;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
  }
  
  nav ul {
    margin-left: 3rem;
    list-style: none;
    padding: 0;
    display: flex;
    align-items:center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  