.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.testimonials-container {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.testimonial-slider {
  display: flex;
  align-items: center;
}

.slider-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.slider-button:focus {
  outline: none;
}

.testimonial-navigation {
  margin-top: 20px;
}

.slider-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px; /* Add margin for spacing */
  transition: color 0.3s ease; /* Add color transition */
}

.slider-button:focus {
  outline: none;
}

.slider-button:hover {
  color: #B76E79; /* Change color on hover */
}
